/* Réinitialisation des marges, paddings et utilisation de box-sizing pour le modèle de boîte border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-primary: #7F9172;
    --color-secondary: #08415C;
    --color-text: #FF9F1C;
    --color-background: #FBFBFF;
}

/* Import de la police Raleway depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Style de base pour le corps de la page */
body {
    font-family: 'Raleway', sans-serif; /* Utilisation de la police Raleway pour le texte */
    background-color: var(--color-background); /* Couleur de fond de la page */
}

/* Style pour le conteneur du header */
.container-header {
    background-color: var(--color-primary); /* Couleur de fond du header */
    width: 100%; /* Largeur du header */
    height: 110px; /* Hauteur du header */
    display: flex; /* Utilisation de flexbox pour aligner les éléments */
    padding: 0 5%; /* Ajout de padding sur les côtés */
    align-items: center;
    justify-content: flex-start;
  }

.container-header {
    top: -120px; /* Masque le header en le déplaçant vers le haut*/
}

.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    z-index: 1000;
}

/* Style pour le logo */
.logo img {
    width: 130px;
    height: 80px;
    padding: px 0;
    }



.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.menu ul li {
    display: inline;
    margin-right: 20px;
    position: relative;
    text-transform: uppercase;
}

.menu li a{
    text-decoration: none;
    position: relative;
    color: var(--color-background);
    display: inline-block;
}

.menu ul ul{
    width: 250px;
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
    background-color: var(--color-secondary);
}



.menu ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* Style pour le bouton de connexion */
.connexion {
    margin-left: 20px; /* Marge à gauche du bouton */
    
}

.connexion button {
    background-color: var(--color-text); /* Couleur de fond du bouton */
    color: var(--color-secondary); /* Couleur du texte du bouton */
    size: 2rem; /* Taille du texte */
    border: none; /* Suppression de la bordure */
    padding: 10px 30px; /* Espacement intérieur du bouton */
    border-radius: 20px; /* Bordure arrondie */
    cursor: pointer; /* Curseur de type pointer au survol */
    
}

/* Style pour le survol du bouton de connexion */
.connexion button:hover {
    background-color: var(--color-secondary); /* Changement de couleur de fond au survol */
    color: var(--color-text); /* Changement de couleur du texte au survol */
}


/* footer */
.footer {
  background-color: #000;
  width: 100%;
  color: var(--color-background);
  bottom: 0;
}

.footer__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.footer__column svg {
  margin-right: 10px; /* Espacement entre l'icône et le texte */
}

.footer__column-info {
  color: var(--color-background);
  text-decoration: none;
  margin: 8px; /* Espacement entre les liens */
  transition: color 0.3s; /* Animation de transition de couleur */
}

.footer__column-info a{
color: var(--color-background);
}

.footer__column-info:hover {
  color: #FF9F1C; /* Couleur orange au survol */
}


.footer__column-content {
  margin-top: 10px;
}

.footer__info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__info-container {
  display: flex;
  flex-direction: column;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin: auto;
}

.footer__logo {
  text-decoration: none;
  color: white;
}

.footer__logo span {
  color: #FF9F1C; 
  font-size: 2em;
  font-style: bold;
}

.footer__copyright {
  color: white;
  opacity: 0.6;
}

.footer__socials {
  opacity: 0.6;
}

.footer__socials path {
  fill: #FF9F1C; /* Couleur orange pour les SVG */
}

hr{
  max-width: 90%;
  margin: 0 auto;}