* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-primary: #7F9172;
    --color-secondary: #08415C;
    --color-text: #FF9F1C;
    --color-background: #FBFBFF;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', sans-serif; 
    background-color: var(--color-background); 
}

/* header */
.container-header {
    background-color: var(--color-primary); 
    width: 100%; 
    height: 110px; 
    display: flex; 
    padding: 0 5%; 
    align-items: center;
    justify-content: flex-start;
  }

.container-header {
    top: -120px; 
}

.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    z-index: 1000;
}

.logo img {
    width: 130px;
    height: 80px;
    padding: px 0;
    }

.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.menu ul li {
    display: inline;
    margin-right: 20px;
    position: relative;
    text-transform: uppercase;
}

.menu li a{
    text-decoration: none;
    position: relative;
    color: var(--color-background);
    display: inline-block;
}

.menu ul ul{
    width: 250px;
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
    background-color: var(--color-secondary);
}



.menu ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.connexion {
    margin-left: 20px; 
    
}

.connexion button {
    background-color: var(--color-text); 
    color: var(--color-secondary); 
    size: 2rem;
    border: none; 
    padding: 10px 30px; 
    border-radius: 20px; 
    cursor: pointer; 
    
}

.connexion button:hover {
    background-color: var(--color-secondary); 
    color: var(--color-text); 
}


/* footer */
.footer {
  background-color: #000;
  width: 100%;
  color: var(--color-background);
  bottom: 0;
}

.footer__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.footer__column svg {
  margin-right: 10px; 
}

.footer__column-info {
  color: var(--color-background);
  text-decoration: none;
  margin: 8px; 
  transition: color 0.3s; 
}

.footer__column-info a{
color: var(--color-background);
}

.footer__column-info:hover {
  color: #FF9F1C;
}


.footer__column-content {
  margin-top: 10px;
}

.footer__info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__info-container {
  display: flex;
  flex-direction: column;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin: auto;
}

.footer__logo {
  text-decoration: none;
  color: white;
}

.footer__logo span {
  color: #FF9F1C; 
  font-size: 2em;
  font-style: bold;
}

.footer__copyright {
  color: white;
  opacity: 0.6;
}

.footer__socials {
  opacity: 0.6;
}

.footer__socials path {
  fill: #FF9F1C; 
}

hr{
  max-width: 90%;
  margin: 0 auto;}