* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-primary: #7F9172;
    --color-secondary: #08415C;
    --color-text: #FF9F1C;
    --color-background: #FBFBFF;
}

/* Import de la police Raleway depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Style de base pour le corps de la page */
body {
    font-family: 'Raleway', sans-serif; /* Utilisation de la police Raleway pour le texte */
    background-color: var(--color-background); /* Couleur de fond de la page */
}

.welcome-section {
  position: relative;
    background-image: url('assets/images/Main.svg'); /* Ajouter l'image en arrière-plan */
    background-size: cover; /* Assurer que l'image couvre toute la section */
    background-position: center; /* Centrer l'image */
    padding: 50px; /* Ajouter un peu de marge intérieure */
    color: var(--color-background); /* Couleur du texte */
    height: 500px;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);

  }
  
  .welcome-text {
    width: 35%; /* Largeur du texte */
    
  }

  .welcome-text h1 {
    font-size: 2rem; /* Taille de la police */
    margin-bottom: 30px; /* Ajouter un peu d'espace en bas */
    margin-left: 100px;
    line-height: 1.5; /* Espacement des lignes */
  }
  
  .orange-text {
    color: orange; /* Couleur orange pour le texte */
    text-transform: uppercase; /* Mettre le texte en majuscules */
  }

  .container-habitat{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
  }
  .title-habitat{
    text-align: center;
  }
  .title-habitat h1{
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .title-habitat p{
    font-size: 1.2rem;
    width: 80%;
    margin: auto; 
   }

  .button {
    background-color: var(--color-text); /* Couleur de fond du bouton */
    color: var(--color-secondary); /* Couleur du texte du bouton */
    margin: 30px auto;
    size: 2rem; /* Taille du texte */
    border: 1px var(--color-text) solid; /* Suppression de la bordure */
    padding: 10px 30px; /* Espacement intérieur du bouton */
    border-radius: 20px; /* Bordure arrondie */
    cursor: pointer; /* Curseur de type pointer au survol */
    
  }

  .button:hover {
    background-color: var(--color-secondary); /* Couleur de fond du bouton au survol */
    color: var(--color-text); /* Couleur du texte du bouton au survol */
  }

  /* carte habitats */
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les cartes */
    width: 90%;
    margin: 30px auto ;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease; /* Effet de transition */
    height: 250px;
    box-shadow: #08415C 0px 4px 4px 0px;
  }
  
  .card:hover {
    transform: translateY(-5px); /* Translation vers le haut au survol */
  }
  
  .card img {
    flex: 1;
    max-width: 50%;
  }
  
  .card-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .card-content p {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  
/* Section animaux */
.container-animaux {
  width: 100%;
  margin: auto;
  background-color: var(--color-secondary);
}

.title {
  text-align: center;
  margin: 30px;
  padding-top: 10px;
  color: var(--color-background);
}

.animals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 90%;
  margin: auto;
}

.animal {
  width: 30%;
  text-align: center;
  background-color: var(--color-background);
  border-radius: 20px;
}

.animal img {
  width: 100%;
  border: 4px solid white;
  border-radius: 20px;
}

.animal:hover {
  transform: scale(1.2);
}

.animal p {
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.animal p:hover {
  text-decoration: underline;
}

.autruche{
  width: 25%;
}

.crocodile{
  border: 1px var(--color-secondary) solid;
}

.lower-animals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 90%;
  margin: auto;
}

.lower-animals .animal {
  width: 30%;
  text-align: center;
}

.lower-animals .animal img {
  width: 100%;
  border: 4px solid white;
  border-radius: 8px;
}

.lower-animals .animal p {
  margin-top: 10px;
}

.animals-footer {
  margin-top: 40px;
  text-align: center;
}

.animals-footer p {
  color: var(--color-background);
  font-size: 2rem;
}

/* Section services */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services .title{
  margin: 30px;
  padding-top: 10px;
  color: var(--color-secondary);
}

.service-card {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacement entre les cartes */
  width: 90%;
  margin: 30px auto ;
}

.service-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
}

.service-content img {
  max-width: 50%;
  border-radius: 20px;
}

.text-content{
  text-align: center;
  margin-top: 10px;
}

.text-content button{
  padding: 10px ;
}

/* section opinions */

.opinion {
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--color-background);
  padding: 20px 0;
}

.opinion .title {
  margin: 30px;
  padding-top: 10px;
  color: var(--color-background);
}

.opinion p {
  margin: 10px 0;
}

.container-opinion {
  width: 90%;
  margin: auto;
}

.opinion-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.opinion-content {
  width: calc(33.33% - 20px); /* Répartir sur 3 colonnes avec un espacement de 20px */
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-text);
}

.text-content {
  text-align: center;
}

.author {
  text-align: center;
  margin-top: 10px;
}

/* page contact */

.contact_container {
  width: 90%;
  margin: 30px auto; /* Ajout de marges autour des conteneurs de contact */
  padding: 20px;
  border: 1px solid var(--color-text);
  border-radius: 20px;
  background-color: var(--color-background);
}

.contact_container:first-child {
  margin-top: 0; /* Suppression de la marge supérieure pour le premier conteneur */
}

.contact_container:last-child {
  margin-bottom: 0; /* Suppression de la marge inférieure pour le dernier conteneur */
}


.contact_container form{
  margin-bottom: 20px;

}

.contact_container label {
  display: block;
  margin-bottom: 5px;
}

.contact_container input[type="text"],
.contact_container input[type="email"],
.contact_container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-text);
  border-radius: 20px;
}

.contact_container ul {
  list-style-type: none;
  padding: 0;
}

.contact_container ul li {
  margin-bottom: 5px;
}
