 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-primary: #7F9172;
    --color-secondary: #08415C;
    --color-text: #FF9F1C;
    --color-background: #FBFBFF;
 }

 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

    body {
        font-family: 'Raleway', sans-serif;
        background-color: var(--color-background);
    }
 
 /* Styles pour le header */ 
 .container-header {
        background-color: var(--color-primary);
        width: 100%;
        height: 120px;
        display: flex;
    }

.header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 130px;
    height: 90px;
    padding: px 0;
    }

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: var(--color-background);
}
.menu ul li {
    margin-right: 20px;
    position: relative;
    text-transform: uppercase;
}

.menu li a{
    text-decoration: none;
    position: relative;
}

.menu ul ul{
    width: 250px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
    background-color: var(--color-secondary);
}

.menu ul li:hover > ul{
    border-radius: 0 0 10px 10px;
}

.menu ul li a:hover{
    text-decoration: none;
    margin-bottom: 2px;
}

.menu ul li a:hover::before{
    content: '';
    position: absolute;
    bottom: 0;
    background-color: var(--color-text);
}


.menu li ul li img{
    border-radius: 50%;
    width: 30px; 
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: middle;
}

/* Bouton */

.connexion {
    margin-left: 20px;
}

.connexion button {
    background-color: var(--color-text);
    color: var(--color-secondary);
    border: none;
    padding: 5px 30px;
    border-radius: 20px;
    cursor: pointer;
}

.connexion button:hover {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

/* FOOTER */

.footer {
    display: grid;
    grid-template-rows: auto 90px; /* Deux rangées : une pour le contenu, une pour le footer du bas */
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
    gap: 20px; /* Espacement entre les éléments */
}

.footer-section1,
.footer-section2,
.footer-section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-svg {
    width: 100px; /* Taille de votre fichier SVG */
    height: 100px; /* Taille de votre fichier SVG */
}

.separator {
    grid-column: 1 / -1; /* Cette ligne s'étend sur toutes les colonnes */
    border: none;
    border-top: 2px solid #ffffff; /* Ligne blanche de séparation */
}

.footer-section2 {
    grid-column: 1 / -1; /* Cette section s'étend sur toutes les colonnes */
}

.footer-section3 {
    justify-content: flex-start; /* Alignement des éléments au début */
}

.footer-section3 h2 {
    color: orange; /* Couleur orange pour le titre */
}

/* Styles supplémentaires pour les liens et le texte */
a {
    color: #ffffff; /* Couleur blanche pour les liens */
    text-decoration: none; /* Pas de soulignement */
}
