/*--------------Page principale---------------------*/
/* Mobile page principale (480px) */
@media (max-width: 480px) {
        .welcome-text {
        width: 100%;
        background-color: rgba(7 7 7 /30%);
        border-radius: 20px;
        margin: 10px;
    }

    .welcome-text h1 {
        font-size: 1.5rem;
        margin-left: 0;
    }

    .welcome-text p {
        width: 105%;
        font-size: 1rem;
    }

    .container-habitat {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title-habitat p {
        width: 90%;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        flex-direction: column;
        height: auto;
    }

    .card img {
        max-width: 100%;
        border-radius: 20px;
        margin-top: 10px;
    }

    .animals,
    .lower-animals {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .animal {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .lower-animals .animal {
        width: 80%;
    }

    .container-services p {
        width: 90%;
        margin: auto;
    }

    .service-card {
        flex-direction: column;
        align-items: center;
    }

    .service-content {
        flex-direction: column;
        text-align: center;
    }

    .service-content img {
        max-width: 100%;
    }

    .text-content {
        width: 100%;
    }

    .avis_confirmed{
        height: auto;
    }

    .opinion-card {
        flex-direction: column;
        align-items: center;
    }

    .opinion-content {
        width: 90%;
    }
}

/* Tablettes page principale (de 481px à 1000px) */
@media (min-width: 481px) and (max-width: 1000px) {
    .welcome-text {
        width: 80%;
        background-color: rgba(7 7 7 /30%);
        padding: 20px;
        border-radius: 20px;
    }

    .welcome-text h1 {
        font-size: 1.75rem;
        margin-left: 0;
    }

    .container-habitat {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title-habitat p {
        width: 90%;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        flex-direction: column;
        height: auto;
    }

    .card img {
        margin-top: 10px;
        max-width: 100%;
        border-radius: 20px;
    }

    .animals,
    .lower-animals {
        flex-direction: column;
        align-items: center;
    }

    .animal {
        width: 60%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .lower-animals .animal {
        width: 60%;
    }

    .service-card {
        flex-direction: column;
        align-items: center;
    }

    .service-content {
        flex-direction: column;
        text-align: center;
    }

    .service-content img {
        max-width: 100%;
    }

    .text-content {
        width: 100%;
    }

    .opinion-card {
        flex-direction: column;
        align-items: center;
    }

    .opinion-content {
        width: 80%;
    }

    .avis_confirmed{
        height: auto;
    }
}

/* Ordi page principale(De 769px à 1350px) */
@media (min-width: 1000px) and (max-width: 1350px) {
    .welcome-text {
        width: 90%;
        background-color: rgba(7 7 7 /30%);
        padding: 20px;
        border-radius: 20px;
        
    }

    .welcome-text h1 {
        width: 90%;
        font-size: 2.5rem;
        margin:auto;
    }

    .welcome-text p {
        width: 90%;
        margin:auto;
    }

    .container-habitat {
        flex-direction: row;
        align-items: center;
    }

    .title-habitat p {
        width: 90%;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
    }

    .card {
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }

    .card img {
        max-width: 100%;
        height: auto;
        padding-top: 10px;
        border-radius: 20px;
    }

    .card-content {
        padding: 20px;
        text-align: center; 
    }

    .text-carte {
        margin: 10px 0;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .animals,
    .lower-animals {
        flex-direction: row;
        align-items: center;
    }

    .animal {
        width: 30%;
    }

    .lower-animals .animal {
        width: 30%;
    }

    .animals-footer p{
        font-size: 1.8rem;
    }

    .container-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 90%;
        margin: auto;
    }

    .service-card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
    }

    .service-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        width: 48%; /* 50% - gap */
        border: 1px solid #ccc;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 4px 4px 0px #08415C;
        transition: transform 0.3s ease;
        padding: 20px;
        box-sizing: border-box;
    }

    .service-content img {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ccc;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px; 
        padding: 10px;
        box-sizing: border-box;
    }

    .service-content:nth-child(1) .text-content,
    .service-content:nth-child(2) .text-content {
        height: auto; 
    }

    .service-content:hover {
        transform: translateY(-5px);
    }

    .service-card {
        display: flex;
    }

    .avis_confirmed{
        height: auto;
    }

    .opinion-card {
        flex-direction: row;
        align-items: flex-start;
    }

    .opinion-content {
        width: calc(33.33% - 20px);
    }
    }


/*--------------------Service page --------------- */
@media (max-width: 480px){
    .service_title{
        width: 95%;
        font-size: 1.5rem;
    }

    .categorie-title{
        width: 100%;
        font-size: 2rem;
    }

    .service-content{
        padding: 5px;
    }
    .text_content{
        width: 100%;
        padding: 0;
    }
}

@media (min-width: 481px) and (max-width: 1000px){
    .categorie-title{
        width: 100%;
        font-size: 2rem;
    }
}

/* Ordi page services(De 769px à 1350px) */
@media (min-width: 1000px) {
    .service-card {
        flex-direction: column;
        align-items: stretch;
    }

    .categorie-title {
        width: 100%;
    }

    .categorie-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .service-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }

    .text_content {
        width: 80%;
        padding-right: 20px;
    }

    .service_image {
        width: 60%;
    }
}

/*--------Page habitats---------*/
@media (max-width: 480px){
    .section-importance-nature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        }
        .section-importance-nature img {
        width: 100%;
        border-radius: 10px;
        margin: auto;
        object-fit: cover;
        min-width: 150px;
        }

        .section-importance-nature p{
            margin-top: 10px;
            margin-bottom: 10px;
        }
}

@media (min-width: 481px) and (max-width: 1000px){
    .section-importance-nature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        }
        .section-importance-nature img {
        width: 100%;
        border-radius: 10px;
        margin: auto;
        object-fit: cover;
        min-width: 150px;
        }

        .section-importance-nature p{
            margin-top: 10px;
            margin-bottom: 10px;
        }
}
/*--------- page horaires ----------*/
@media (max-width: 480px){
    .horaire-title{
        font-size: 1.5rem;
    }

    .horaires-tables{
        width: 90%;
    }
}

@media (min-width: 481px) and (max-width: 1000px){
    .horaires-tables{
        width: 90%;
    }
}

/*----------Page contact-----------*/
@media (max-width: 480px){
    #image_contact{
        display: none;
    }
    .container_contact {
        flex-direction: column;
    }
    
    .container_droite {
        width: 100%;
    }
    #contactForm{
        margin-top:75px;
    }
    .container_droite h2{
        margin-bottom: 15px;
    }
    .container_droite .button {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
}

@media (min-width: 481px) and (max-width: 1000px){
    .container_droite{
        margin-top: 0px;
    }
}

/*---------- Page animaux-----------*/

@media (max-width: 480px){
    .filtre-animaux{
        flex-direction: column;
        width: 60%;
        margin: auto;
    }

    .filtre-animaux select, .filtre-animaux label{
        margin: 10px;
    }

    .animal-container{
        flex-direction: column;
        align-items: center;
    }

    .animal-card{
        width: 90%;
    }

    .modal-content{
        width: 90%;
    }

    .img-modal-animal{
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 1000px){
    .filtre-animaux{
        flex-direction: column;
        width: 80%;
        margin: auto;
        text-align: center;
        padding: 0px;
    }

    .filtre-animaux .button{
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }

    .animal-card{
        width: 48%;   
        margin: 5px;
     }
}