 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 /* Styles pour le header */ 
 header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f2f2f2;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url('chemin/vers/le/logo.png');
    background-size: cover;
}

.menu {
    position: relative;
}

.menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu:hover ul {
    display: block;
}

.menu li {
    list-style: none;
    padding: 10px;
}

.contact-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}

h1{
    font-size: 2em;
    margin: 20px;
}