 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-primary: #7F9172;
    --color-secondary: #08415C;
    --color-text: #FF9F1C;
    --color-background: #FBFBFF; 
 }
 
 /* Styles pour le header */ 
 
    header {
        background-color: var(--color-primary);
        color: var(--color-text);
        padding: 1rem;
        text-align: center;
    }



    